<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
    <add key="TimeInterval" value="15"/>
    <add key="BackupLocation" value="default"/>
    <add key="MaxBackups" value="10"/>
</appSettings>
</configuration>